<div class="title-function">
  <h3>CREATE ROOM</h3>
</div>
<div class="exit" title="Thoát" (click)="closeModal()">Thoát</div>

<p>{{errMessage}}</p>
<form #createForm="ngForm">
  <table class="infoUpdate">
    <tr>
      <td>
        <label class="label" for="RoomNumber">Room Number</label>
        <input type="text" class="form-control" #RoomNumber="ngModel" name="RoomNumber" id="RoomNumber" placeholder="Enter Room Number" [(ngModel)]="room.RoomNumber" required [class.is-invalid]="RoomNumber.invalid && RoomNumber.touched">
        <div *ngIf="RoomNumber.errors && (RoomNumber.valid || RoomNumber.touched)">
          <small class="text-danger" *ngIf="RoomNumber.errors['required']">Please enter Room Number</small>
        </div>
      </td>
    </tr>
    <tr>
      <td>
        <label class="label" for="RoomType">Room Type</label>
        <input type="text" class="form-control" #RoomType="ngModel" name="RoomType" id="RoomType" placeholder="Enter Room Type" [(ngModel)]="room.RoomType" required [class.is-invalid]="RoomType.invalid && RoomType.touched">
        <div *ngIf="RoomType.errors && (RoomType.valid || RoomType.touched)">
          <small class="text-danger" *ngIf="RoomType.errors['required']">Please enter Room Type</small>
        </div>
      </td>
    </tr>
    <tr>
      <td>
        <label class="label" for="Capacity">Capacity</label>
        <input type="number" class="form-control" #Capacity="ngModel" name="Capacity" id="Capacity" placeholder="Enter Capacity" [(ngModel)]="room.Capacity" min="2" required [class.is-invalid]="Capacity.invalid && Capacity.touched">
        <div *ngIf="Capacity.errors && (Capacity.valid || Capacity.touched)">
          <small class="text-danger" *ngIf="Capacity.errors['required']">Please enter Capacity</small>
          <small class="text-danger" *ngIf="Capacity.errors['min']">Capacity must be greater than or equal to 2</small>
        </div>
      </td>
    </tr>
    <tr>
      <td>
        <label class="label" for="AdultPrice">Adult Price</label>
        <input type="number" class="form-control" #AdultPrice="ngModel" name="AdultPrice" id="AdultPrice" placeholder="Enter Adult Price" [(ngModel)]="room.AdultPrice" min="200000" required [class.is-invalid]="AdultPrice.invalid && AdultPrice.touched">
        <div *ngIf="AdultPrice.errors && (AdultPrice.valid || AdultPrice.touched)">
          <small class="text-danger" *ngIf="AdultPrice.errors['required']">Please enter Adult Price</small>
          <small class="text-danger" *ngIf="AdultPrice.errors['min']">Adult price must be at least over 200.000 vnđ</small>
        </div>
      </td>
    </tr>
    <tr>
      <td>
        <label class="label" for="ChildrenPrice">Children Price</label>
        <input type="number" class="form-control" #ChildrenPrice="ngModel" name="ChildrenPrice" id="ChildrenPrice" placeholder="Enter Children Price" [(ngModel)]="room.ChildrenPrice" min="100000" required [class.is-invalid]="ChildrenPrice.invalid && ChildrenPrice.touched">
        <div *ngIf="ChildrenPrice.errors && (ChildrenPrice.valid || ChildrenPrice.touched)">
          <small class="text-danger" *ngIf="ChildrenPrice.errors['required']">Please enter Children Price</small>
          <small class="text-danger" *ngIf="ChildrenPrice.errors['min']">Children price must be at least over 100.000 vnđ</small>
        </div>
      </td>
    </tr>
    <tr>
      <td>
        <label class="label" for="RoomPrice">Room Price</label>
        <input type="number" class="form-control" #RoomPrice="ngModel" name="RoomPrice" id="RoomPrice" placeholder="Enter Room Price" [(ngModel)]="room.RoomPrice" min="500000" required [class.is-invalid]="RoomPrice.invalid && RoomPrice.touched">
        <div *ngIf="RoomPrice.errors && (RoomPrice.valid || RoomPrice.touched)">
          <small class="text-danger" *ngIf="RoomPrice.errors['required']">Please enter RoomPrice</small>
          <small class="text-danger" *ngIf="RoomPrice.errors['min']">Room price must be at least over 500.000 vnđ</small>
        </div>
      </td>
    </tr>
    <tr>
      <td>
        <label class="label" for="RoomDescription">Room Description</label>
        <textarea class="form-control" #RoomDescription="ngModel" name="RoomDescription" id="RoomDescription" placeholder="Enter Room Description" [(ngModel)]="room.RoomDescription" cols="30" rows="10" spellcheck="true" required [class.is-invalid]="RoomDescription.invalid && RoomDescription.touched"></textarea>
        <div *ngIf="RoomDescription.errors && (RoomDescription.valid || RoomDescription.touched)">
          <small class="text-danger" *ngIf="RoomDescription.errors['required']">Please enter RoomDescription</small>
        </div>
      </td>
    </tr>
    <tr>
      <td>
        <label class="label">Room Status:</label><br>
        <div class="container-status">
          <input type="radio" name="RoomStatus" id="booked" [(ngModel)]="room.RoomStatus" [checked]="room.RoomStatus ? true : false" [value]="booked">
          <label for="booked">Booked</label>
          <input type="radio" name="RoomStatus" id="not-booked" [(ngModel)]="room.RoomStatus" [checked]="!room.RoomStatus" [value]="notbooked">
          <label for="not-booked">Not Booked</label>
        </div>
      </td>
    </tr>
    <tr>
      <td>
        <label class="label" for="RoomImage">Image Room:</label>
        <div class="frame-upload-img">
          <input type="file" class="file-input" #RoomImage="ngModel" name="RoomImage" id="RoomImage" (change)="onFileSelected($event, room)" [(ngModel)]="room.RoomImage" required [class.is-invalid]="RoomImage.invalid && RoomImage.touched">
          <img src="{{room.RoomImage}}">
        </div>
        <div *ngIf="RoomImage.errors && (RoomImage.valid || RoomImage.touched)">
          <small class="text-danger" *ngIf="RoomImage.errors['required']">Please choose Room Image</small>
        </div>
      </td>
    </tr>
    <tr>
      <td class="branch-code">
        <label class="label" for="RoomBranch">Branch Code:</label>
        <input type="text" class="form-control" #RoomBranch name="RoomBranch" id="RoomBranch" readonly [(ngModel)]="branch.BranchName">
      </td>
    </tr>
    <tr>
      <td colspan="2" [ngClass]="(createForm.form.valid) ? valid : invalid">
        <button type="submit" [disabled]="createForm.form.invalid || room.RoomNumber == 'none' || room.RoomType == 'none' || room.RoomPrice <= 500000 || room.AdultPrice <= 200000 || room.ChildrenPrice <= 100000 || room.Capacity <= 0 || room.RoomDescription == 'none' || room.RoomImage == 'none'" (click)="postRoom()">Create Room</button>
      </td>
    </tr>
  </table>
  <!-- <p>{{room|json}}</p> -->
</form>
