<body>
  <div>
    <div class="container">
      <form class="box">
        <a href="./home-page"><h1>Dasan Hotel</h1></a>
        <h5>Sign in to your account.</h5>
        <input
          id="email"
          type="email"
          name="email"
          [(ngModel)]="accountName"
          placeholder="Email"
          autocomplete="off"
          required
        />
        <input
          id="password"
          type="password"
          name="password"
          [(ngModel)]="password"
          placeholder="Password"
          autocomplete="off"
          required
        />
        <label>
          <input type="checkbox" [(ngModel)]="rmbAccount" [checked]="rmbAccount" (click)="changeRmb()"/><span></span>
          <small class="rmb">Remember me</small>
        </label>
        <a href="./forget-password" class="forgetpass"
          ><small>Forget password?</small></a
        >
        <input type="submit" value="Sign in" class="btn1" (click)="login()"/>
      </form>
      <span class="signup" [routerLink]="'/sign-up'"
        >Don't have an account?
        <a><b>Sign up</b></a></span
      >
    </div>
  </div>
</body>
