<div class="title-function">
  <h3>ACCOUNT DETAIL</h3>
</div>
<div class="exit" title="Thoát" (click)="closeModal()">Thoát</div>

<p>{{errMessage}}</p>

<div class="container-detail">
  <div class="avatar">
    <input class="form-control" type="image" src="{{account.Avatar}}" [title]="(account.FullName==gojo) ? '天上天下唯我独尊' : ''">
    <div>
      <label class="label" for="FullName">Full Name</label>
      <input type="text" class="form-control" #FullName="ngModel" name="FullName" id="FullName" [(ngModel)]="account.FullName" readonly>
    </div>
    <div>
      <label class="label" for="Type">Type</label>
      <input type="text" class="form-control" #Type="ngModel" name="Type" id="Type" [(ngModel)]="account.Type" readonly>
    </div>
  </div>
  <table class="infoUpdate">
    <!-- 1 -->
    <tr>
      <td>
        <label class="label no-top-padding" for="AccountID">Account ID</label>
        <input type="text" class="form-control id" #AccountID="ngModel" name="AccountID" id="AccountID" [(ngModel)]="account._id" readonly>
      </td>
      <td>
        <label class="label no-top-padding" for="PhoneNumber">Phone Number</label>
        <input type="text" class="form-control" #PhoneNumber="ngModel" name="PhoneNumber" id="PhoneNumber" [(ngModel)]="account.PhoneNumber" readonly>
      </td>
    </tr>
    <!-- 1 -->
    <!-- 2 -->
    <tr>
      <td>
        <label class="label" for="AccountName">Account Name</label>
        <input type="text" class="form-control" #AccountName="ngModel" name="AccountName" id="AccountName" [(ngModel)]="account.AccountName" readonly>
      </td>
      <td>
        <label class="label" for="Email">Email</label>
        <input type="text" class="form-control" #Email="ngModel" name="Email" id="Email" [(ngModel)]="account.Email" readonly>
      </td>
    </tr>
    <!-- 2 -->
    <!-- 3 -->
    <tr>
      <td rowspan="2">
        <label class="label" for="Password">Password</label>
        <textarea class="form-control" name="Password" id="Password" cols="30" rows="5" [(ngModel)]="account.Password" readonly></textarea>
      </td>
      <td>
        <label class="label" for="IDCard">IDCard</label>
        <input type="text" class="form-control" #IDCard="ngModel" name="IDCard" id="IDCard" [(ngModel)]="account.IDCard" readonly>
      </td>
    </tr>
    <tr>
      <td class="no-pad-right">
        <label class="label" for="Valid">Valid</label>
        <input type="text" class="form-control" #Valid="ngModel" name="Valid" id="Valid" [(ngModel)]="account.Valid" readonly>
      </td>
    </tr>
    <!-- 3 -->
    <!-- 4 -->
    <tr>
      <td>
        <label class="label" for="DOB">DOB</label>
        <input type="text" class="form-control" #DOB="ngModel" name="DOB" id="DOB" [(ngModel)]="account.DOB" readonly>
      </td>
      <td>
        <label class="label" for="DateCreated">DateCreated</label>
        <input type="text" class="form-control" #DateCreated="ngModel" name="DateCreated" id="DateCreated" [(ngModel)]="account.DateCreated" readonly>
      </td>
    </tr>
    <!-- 4 -->
  </table>
</div>
<br>
<!-- <p>{{account|json}}</p> -->
